<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yiidii.pigeon.quratz.mapper.QuartzTaskMapper">

    <select id="queryQuartzTaskById" resultType="cn.yiidii.pigeon.quratz.entity.QuartzTask">
        SELECT quartz_id quartzId,job_name jobName,job_group jobGroup,start_time startTime,cron_expression cronExpression,invoke_param invokeParam,type,times,last_excute_time, create_time createTime,uid FROM quartz_task WHERE quartz_id = #{quartzId}
    </select>

    <select id="queryQuartzTaskByJobName" resultType="cn.yiidii.pigeon.quratz.entity.QuartzTask">
        SELECT quartz_id quartzId,job_name jobName,job_group jobGroup,start_time startTime,cron_expression cronExpression,invoke_param invokeParam,type,times,last_excute_time, create_time createTime,uid FROM quartz_task WHERE job_name = #{jobName}
    </select>

    <select id="queryALlQuartzTaskByUid" resultType="cn.yiidii.pigeon.quratz.entity.QuartzTask">
        SELECT quartz_id quartzId,job_name jobName,job_group jobGroup,start_time startTime,cron_expression cronExpression,invoke_param invokeParam,`type`,times,last_excute_time, create_time createTime,uid FROM quartz_task WHERE uid = #{uid}
    </select>

    <select id="queryALlQuartzTask" resultType="cn.yiidii.pigeon.quratz.entity.QuartzTask">
        SELECT quartz_id quartzId,job_name jobName,job_group jobGroup,start_time startTime,cron_expression cronExpression,invoke_param invokeParam,`type`,times,last_excute_time, create_time createTime,uid FROM quartz_task
    </select>

    <insert id="insert" parameterType="cn.yiidii.pigeon.quratz.entity.QuartzTask" useGeneratedKeys="true"
            keyProperty="quartzId">
        <selectKey keyProperty="quartzId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into quartz_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="quartzId != null">
                quartz_id,
            </if>
            <if test="jobName != null">
                job_name,
            </if>
            <if test="jobGroup != null">
                job_group,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="cronExpression != null">
                cron_expression,
            </if>
            <if test="invokeParam != null">
                invoke_param,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="times != null">
                `times`,
            </if>
            <if test="lastExcuteTime != null">
                last_excute_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="uid != null">
                uid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="quartzId != null">
                #{quartzId},
            </if>
            <if test="jobName != null">
                #{jobName},
            </if>
            <if test="jobGroup != null">
                #{jobGroup},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="cronExpression != null">
                #{cronExpression},
            </if>
            <if test="invokeParam != null">
                #{invokeParam},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="times != null">
                #{times},
            </if>
            <if test="lastExcuteTime != null">
                #{lastExcuteTime},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="uid != null">
                #{uid},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.yiidii.pigeon.quratz.entity.QuartzTask">
        update quartz_task
        <set>
            <if test="quartzId != null">
                quartz_id = #{quartzId},
            </if>
            <if test="jobName != null">
                job_name = #{jobName},
            </if>
            <if test="jobGroup != null">
                job_group = #{jobGroup},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="cronExpression != null">
                cron_expression = #{cronExpression},
            </if>
            <if test="invokeParam != null">
                invoke_param = #{invokeParam},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="times != null">
                times = #{times},
            </if>
            <if test="lastExcuteTime != null">
                last_excute_time = #{lastExcuteTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="uid != null">
                uid = #{uid},
            </if>
        </set>
        where quartz_id = #{quartzId}
    </update>

    <delete id="delete">
		DELETE FROM quartz_task WHERE quartz_id = #{quartzId}
	</delete>

</mapper>